/* stylelint-disable */
.valuation-content {
    margin-bottom: 40px;
    p {
        font-family: 'Open Sans', sans-serif;
        color: #777777;
        margin: 0;
    }
}
.valuation-form {
    .field-name {
        font-weight: 600;
        padding-right: 0;
    }
    input, textarea {
        border: 1px solid #dddddd;   
        padding: 5px;
        margin-bottom: 10px;     
    }
    textarea {
        display: block;
        width: 100%;
    }
}