/* stylelint-disable */
@import "~bootstrap/scss/functions";
@import "~lightbox2/src/css/lightbox.css";

$white: #fff;
$gray: #424242;
$text-gray: #cccccc;
$black: #000;
$orange: #ef7f1b;
$orange-dark: #dc7010;
$gray-text: #777777;
$light-gray: #d6d6d6;
$dark-gray: #303030;

$theme-colors: (
  primary: #525ddc
);
